body {
    background-color: #242424 !important;
}

.todo-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 350px;
    padding: 30px;
    gap: 20px;
    overflow: auto;
}

header h2 {
    text-align: center;
    font-size: 1.7rem;
}

header h3 {
    text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.todo-input {
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 16px;
    background-color: white;
    color: black;
    position: absolute;
}

.todo-input:focus {
    border-color: #0051ff;
    outline: none;
}

label {
    position: absolute;
    left: 12px;
    top: 12px;
    background-color: rgb(255, 255, 255);
    padding: 0 4px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

.todo-input:focus+label {
    transform: translateY(-20px);
    font-size: 15px;
    font-weight: 500;
    color: #0051ff;
}

.todo-btn {
    position: relative;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    color: rgb(0, 0, 0);
    padding: 12px 10px !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid black;
}

#btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.check-btn {
    margin-right: 5px;
    margin-top: 5px;
}

button {
    border-radius: 7px;
    transition: all 0.2s ease-in;
}

button:hover {
    color: #646cff;
}

li {
    list-style-type: none;
    font-weight: 500;
    font-size: 1.2rem;
}